In [8]:
import pandas as pd
import numpy as np
import geocoder

In [9]:
dfc = pd.read_csv('toronto.csv')
dfc.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

## This takes a lot of time and didn't work

In [ ]:
lat_lng_coords = None
postal_code = 'M1B'
#coords= []
#for i,pcode in enumerate(dfc["Postcode"]):
while (lat_lng_coords is None):
    g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
    lat_lng_coords = g.latlng
    #coords.append( [lat_lng_coords[0],lat_lng_coords[1]] )
    #lat_lng_coords
latitude = lat_lng_coords[0]
longitude = lat_lng_coords[1]

## Therefore, I will use the csv file provided

In [10]:
lat = pd.read_csv('Geospatial_Coordinates.csv')
lat.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

... and add the Latitude and Longitude provided here to my Toronto postal dataframe that I created by webscrapping
Toronto Wikipedia website.

In [11]:
dfc['Latitude'] = lat['Latitude']
dfc.head()

  Postcode      Borough                         Neighbourhood   Latitude
0      M1B  Scarborough                         Rouge,Malvern  43.806686
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union  43.784535
2      M1E  Scarborough       Guildwood,Morningside,West Hill  43.763573
3      M1G  Scarborough                                Woburn  43.770992
4      M1H  Scarborough                             Cedarbrae  43.773136

In [12]:
dfc['Longitude'] = lat['Longitude']
dfc.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [7]:
dfc.to_csv('geospat.csv', index = False)